html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Cabin', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem;
}

.col-2 {
    grid-column: span 6;
    justify-content: center;
    align-content: center;
}

.banner__item {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F9F9F9;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    min-height: 30vh;
}

.banner__item a {
    text-decoration: none;
    color: #000000;
}

.footer {
    background-color: #231F20;
    color: #FFFFFF;
}

@media only screen and (min-width: 920px) {
    .col-3-lg {
        grid-column: span 4;
    }

    .banner__item {
        font-size: 2.5rem;
        min-height: 50vh;
    }
}
